[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llvmlite = "==0.38.0"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
cloudinary = "*"
python-decouple = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.10"
